version: "3.3"

services:

  proxy:
    image: traefik:2.4
    ports:
      - "80:80"
      - "8080:8080" # The Web UI
    volumes:
      - ${PWD}/traefik:/etc/traefik/providers:delegated # Traefik dynamic config
    environment:
      - TRAEFIK_PROVIDERS_FILE_DIRECTORY=/etc/traefik/providers
      - TRAEFIK_GLOBAL_SENDANONYMOUSUSAGE=false
      - TRAEFIK_API=true
      - TRAEFIK_API_INSECURE=true
      - TRAEFIK_LOG_LEVEL=WARN

  # production
  # server:
  #   image: node:16
  #   working_dir: /data
  #   volumes:
  #     - ${PWD}:/data
  #     - /data/node_modules # npm moduly budú iba v kontainery, ale nie v lokálnom počítači
  #     - /data/dist # distribučná verzia bude iba v kontaineri, ale nie v lokálnom počítači
  #   command: bash -c "npm install && npm build && npm start"

  # development
  server:
    image: node:16
    # build: .
    working_dir: /data
    volumes:
      - ${PWD}:/data
    command: bash -c "npm install && npm run dev"

  static-files:
    image: nginx:1.20
    volumes:
      - ${PWD}/static:/usr/share/nginx/html

