version: "3.3"

services:


  proxy:
    image: traefik:2.4
    ports:
      - "80:80"
      - "8080:8080" # Web UI pre Traefik
    volumes:
      - ${PWD}/traefik/prod:/etc/traefik/providers:delegated # Traefik dynamic config
    environment:
      - TRAEFIK_PROVIDERS_FILE_DIRECTORY=/etc/traefik/providers
      - TRAEFIK_GLOBAL_SENDANONYMOUSUSAGE=false
      - TRAEFIK_API=true
      - TRAEFIK_API_INSECURE=true
      - TRAEFIK_LOG_LEVEL=WARN

  server:
    build: server

  simulator:
    build: simulator

  web:
    build: client

  redis:
    from: redis
